.texto{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: underline;
    
}

.notice {
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
  padding: 10px 15px;
  margin: 15px 0;
  border-radius: 4px;
  font-family: sans-serif;
}

/* Por defecto el aviso está oculto */
.checkbox{
    display: none;
}
.notice {
  display: none;
}
.oculto:hover{
    color: red;
}

/* Si el checkbox está marcado, mostramos el aviso */
#toggle-warning:checked + label + .notice {
  display: block;
}

.badge {
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 0.8rem;
    margin-left: 8px;
    font-weight: bold;
}

.coastal {
    background-color: #2196f3;
    color: white;
}

.inland {
    background-color: #777;
    color: white;
}
