<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {{> header}}
    <title>Principal</title>
</head>
<body>
    <section class="texto">
    <h1 class="playwrite-nz-basic-guides-regular">{{site.title}}</h1>
    <h1 class="playwrite-nz-basic-guides-regular">{{site.subtitle}}</h1>
    </section>


    <!-- Interruptor -->
    <input type="checkbox" id="toggle-warning" class="checkbox">
    <label for="toggle-warning" class="oculto">Mostrar aviso</label>

    <!-- Aviso -->
    <div class="notice">
    ⚠️ Això és un avís important.
    </div>

    {{#if site.showWarning}}
        (Hay peligro)
    {{else}}
        (No hay peligro)
    {{/if}}


    
</body>
</html>